.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 57px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 3.5px;
  height: 3000px;
}
.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
  border-radius: 10px;
}
.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    
}
.sidebar-link:active{
    background-color: rgb(214, 214, 214);
}
.sidebar-link img {
height: 24px;
width: 24px;
margin-bottom: 6px;
}
.sidebar-link div {
    font-family: roboto,arial;
    font-size: 10px;
}



